In [1]:
"""Import necessary libraries and the 'DataTransform' class:"""
import pandas as pd
from data_transform import DataTransform
from dataframe_info import DataFrameInfo
from missing_values import Plotter, DataFrameTransform
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
"""Load the dataset"""
loan_data = pd.read_csv('loan_payments.csv')

In [3]:
"""Initialise the 'DataTransform class"""
transformer = DataTransform(loan_data)

In [4]:
"""Transform the required columns to have a category datatype."""
transformer.convert_to_category(['grade', 'sub_grade', 'home_ownership', 'verification_status', 'loan_status', 'purpose', 'term', 'employment_length', ])

,id,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,...,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
0,38676116,41461848,8000,8000.0,8000.0,36 months,7.49,248.82,A,A4,...,0.00,0.00,Jan-2022,248.82,Feb-2022,Jan-2022,0.0,5.0,1,INDIVIDUAL
1,38656203,41440010,13200,13200.0,13200.0,36 months,6.99,407.52,A,A3,...,0.00,0.00,Jan-2022,407.52,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL
2,38656154,41439961,16000,16000.0,16000.0,36 months,7.49,497.63,A,A4,...,0.00,0.00,Oct-2021,12850.16,NaN,Oct-2021,0.0,NaN,1,INDIVIDUAL
3,38656128,41439934,15000,15000.0,15000.0,36 months,14.31,514.93,C,C4,...,0.00,0.00,Jun-2021,13899.67,NaN,Jun-2021,0.0,NaN,1,INDIVIDUAL
4,38656121,41439927,15000,15000.0,15000.0,36 months,6.03,456.54,A,A1,...,0.00,0.00,Jan-2022,456.54,Feb-2022,Jan-2022,0.0,NaN,1,INDIVIDUAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54226,76597,76583,5000,5000.0,1775.0,36 months,9.01,159.03,B,B2,...,0.00,0.00,Jul-2016,160.61,NaN,Jul-2016,NaN,NaN,1,INDIVIDUAL
54227,142608,74724,5000,5000.0,2350.0,36 months,10.59,162.73,C,C2,...,0.00,0.00,Oct-2016,490.01,NaN,Sep-2016,0.0,NaN,1,INDIVIDUAL
54228,117045,70978,3500,3500.0,2225.0,36 months,7.43,108.77,A,A2,...,0.00,0.00,Sep-2016,110.58,Sep-2016,May-2013,NaN,NaN,1,INDIVIDUAL
54229,88854,70699,5000,5000.0,225.0,36 months,7.43,155.38,A,A2,...,0.00,0.00,Mar-2014,0.00,NaN,May-2013,NaN,NaN,1,INDIVIDUAL
54230,72323,70694,5000,5000.0,350.0,36 months,11.54,164.98,C,C5,...,182.27,1.84,Mar-2014,164.97,Dec-2014,Jan-2015,NaN,NaN,1,INDIVIDUAL

In [5]:
"""Transform the required columns to have a datetime datatype."""
transformer.convert_to_datetime(['issue_date', 'earliest_credit_line', 'last_payment_date', 'next_payment_date', 'last_credit_pull_date'])

c:\Users\alviz\OneDrive\Documents\Data Analysis\AI Core\eda_project\exploratory-data-analysis---customer-loans-in-finance236\data_transform.py:17: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  self.df[column_name] = pd.to_datetime(self.df[column_name], errors='coerce')
c:\Users\alviz\OneDrive\Documents\Data Analysis\AI Core\eda_project\exploratory-data-analysis---customer-loans-in-finance236\data_transform.py:17: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  self.df[column_name] = pd.to_datetime(self.df[column_name], errors='coerce')
c:\Users\alviz\OneDrive\Documents\Data Analysis\AI Core\eda_project\exploratory-data-analysis---customer-loans-in-finance236\data_transform.py:17: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  self.df[column_name] = pd.to_datetime(self.df[column_name], errors='coerce')
c:\Users\alviz\OneDrive\Documents\Data Analysis\AI Core\eda_project\exploratory-data-analysis---customer-loans-in-finance236\data_transform.py:17: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  self.df[column_name] = pd.to_datetime(self.df[column_name], errors='coerce')
c:\Users\alviz\OneDrive\Documents\Data Analysis\AI Core\eda_project\exploratory-data-analysis---customer-loans-in-finance236\data_transform.py:17: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  self.df[column_name] = pd.to_datetime(self.df[column_name], errors='coerce')

,id,member_id,loan_amount,funded_amount,funded_amount_inv,term,int_rate,instalment,grade,sub_grade,...,recoveries,collection_recovery_fee,last_payment_date,last_payment_amount,next_payment_date,last_credit_pull_date,collections_12_mths_ex_med,mths_since_last_major_derog,policy_code,application_type
0,38676116,41461848,8000,8000.0,8000.0,36 months,7.49,248.82,A,A4,...,0.00,0.00,2022-01-01,248.82,2022-02-01,2022-01-01,0.0,5.0,1,INDIVIDUAL
1,38656203,41440010,13200,13200.0,13200.0,36 months,6.99,407.52,A,A3,...,0.00,0.00,2022-01-01,407.52,2022-02-01,2022-01-01,0.0,NaN,1,INDIVIDUAL
2,38656154,41439961,16000,16000.0,16000.0,36 months,7.49,497.63,A,A4,...,0.00,0.00,2021-10-01,12850.16,NaT,2021-10-01,0.0,NaN,1,INDIVIDUAL
3,38656128,41439934,15000,15000.0,15000.0,36 months,14.31,514.93,C,C4,...,0.00,0.00,2021-06-01,13899.67,NaT,2021-06-01,0.0,NaN,1,INDIVIDUAL
4,38656121,41439927,15000,15000.0,15000.0,36 months,6.03,456.54,A,A1,...,0.00,0.00,2022-01-01,456.54,2022-02-01,2022-01-01,0.0,NaN,1,INDIVIDUAL
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
54226,76597,76583,5000,5000.0,1775.0,36 months,9.01,159.03,B,B2,...,0.00,0.00,2016-07-01,160.61,NaT,2016-07-01,NaN,NaN,1,INDIVIDUAL
54227,142608,74724,5000,5000.0,2350.0,36 months,10.59,162.73,C,C2,...,0.00,0.00,2016-10-01,490.01,NaT,2016-09-01,0.0,NaN,1,INDIVIDUAL
54228,117045,70978,3500,3500.0,2225.0,36 months,7.43,108.77,A,A2,...,0.00,0.00,2016-09-01,110.58,2016-09-01,2013-05-01,NaN,NaN,1,INDIVIDUAL
54229,88854,70699,5000,5000.0,225.0,36 months,7.43,155.38,A,A2,...,0.00,0.00,2014-03-01,0.00,NaT,2013-05-01,NaN,NaN,1,INDIVIDUAL
54230,72323,70694,5000,5000.0,350.0,36 months,11.54,164.98,C,C5,...,182.27,1.84,2014-03-01,164.97,2014-12-01,2015-01-01,NaN,NaN,1,INDIVIDUAL

In [6]:
print(loan_data.dtypes)

id                                      int64
member_id                               int64
loan_amount                             int64
funded_amount                         float64
funded_amount_inv                     float64
term                                 category
int_rate                              float64
instalment                            float64
grade                                category
sub_grade                            category
employment_length                    category
home_ownership                       category
annual_inc                            float64
verification_status                  category
issue_date                     datetime64[ns]
loan_status                          category
payment_plan                           object
purpose                              category
dti                                   float64
delinq_2yrs                             int64
earliest_credit_line           datetime64[ns]
inq_last_6mths                          int64
mths_since_last_delinq                float64
mths_since_last_record                float64
open_accounts                           int64
total_accounts                          int64
out_prncp                             float64
out_prncp_inv                         float64
total_payment                         float64
total_payment_inv                     float64
total_rec_prncp                       float64
total_rec_int                         float64
total_rec_late_fee                    float64
recoveries                            float64
collection_recovery_fee               float64
last_payment_date              datetime64[ns]
last_payment_amount                   float64
next_payment_date              datetime64[ns]
last_credit_pull_date          datetime64[ns]
collections_12_mths_ex_med            float64
mths_since_last_major_derog           float64
policy_code                             int64
application_type                       object
dtype: object

In [7]:
print(loan_data['issue_date'].unique())

<DatetimeArray>
['2021-01-01 00:00:00', '2019-12-01 00:00:00', '2019-11-01 00:00:00',
 '2019-10-01 00:00:00', '2019-09-01 00:00:00', '2019-08-01 00:00:00',
 '2017-12-01 00:00:00', '2017-11-01 00:00:00', '2017-09-01 00:00:00',
 '2017-07-01 00:00:00', '2017-10-01 00:00:00', '2017-08-01 00:00:00',
 '2017-06-01 00:00:00', '2017-05-01 00:00:00', '2017-03-01 00:00:00',
 '2017-04-01 00:00:00', '2017-02-01 00:00:00', '2016-10-01 00:00:00',
 '2016-07-01 00:00:00', '2016-06-01 00:00:00', '2016-05-01 00:00:00',
 '2016-02-01 00:00:00', '2016-01-01 00:00:00', '2015-12-01 00:00:00',
 '2015-09-01 00:00:00', '2015-08-01 00:00:00', '2017-01-01 00:00:00',
 '2016-12-01 00:00:00', '2016-11-01 00:00:00', '2016-09-01 00:00:00',
 '2016-08-01 00:00:00', '2016-04-01 00:00:00', '2016-03-01 00:00:00',
 '2015-11-01 00:00:00', '2015-10-01 00:00:00', '2015-07-01 00:00:00',
 '2015-06-01 00:00:00', '2015-02-01 00:00:00', '2015-05-01 00:00:00',
 '2015-04-01 00:00:00', '2014-08-01 00:00:00', '2015-03-01 00:00:00',
 '2014-04-01 00:00:00', '2015-01-01 00:00:00', '2014-12-01 00:00:00',
 '2014-11-01 00:00:00', '2014-10-01 00:00:00', '2014-09-01 00:00:00',
 '2014-07-01 00:00:00', '2014-06-01 00:00:00', '2014-05-01 00:00:00',
 '2014-03-01 00:00:00', '2014-02-01 00:00:00', '2014-01-01 00:00:00',
 '2013-12-01 00:00:00', '2013-11-01 00:00:00', '2013-10-01 00:00:00',
 '2013-09-01 00:00:00', '2013-08-01 00:00:00', '2013-07-01 00:00:00',
 '2013-06-01 00:00:00']
Length: 61, dtype: datetime64[ns]

In [8]:
df_info = DataFrameInfo(loan_data)

In [9]:
df_info.describe_columns()
print(df_info.statistical_summary())
print("Median:\n", df_info.get_median())
print("Standard Deviation:\n", df_info.get_standard_deviation())
print("Mean:\n", df_info.get_mean())
print("Distinct Values Count:\n", df_info.count_distinct_values())
print("DataFrame Shape:\n", df_info.get_shape())
print("Null Values Count:\n", df_info.count_null_values())
print("Null Values Percentage:\n", df_info.count_null_values_percentage())

DataFrame Description:

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 54231 entries, 0 to 54230
Data columns (total 43 columns):
 #   Column                       Non-Null Count  Dtype
---  ------                       --------------  -----
 0   id                           54231 non-null  int64
 1   member_id                    54231 non-null  int64
 2   loan_amount                  54231 non-null  int64
 3   funded_amount                51224 non-null  float64
 4   funded_amount_inv            54231 non-null  float64
 5   term                         49459 non-null  category
 6   int_rate                     49062 non-null  float64
 7   instalment                   54231 non-null  float64
 8   grade                        54231 non-null  category
 9   sub_grade                    54231 non-null  category
 10  employment_length            52113 non-null  category
 11  home_ownership               54231 non-null  category
 12  annual_inc                   54231 non-null  float64
 13  verification_status          54231 non-null  category
 14  issue_date                   54231 non-null  datetime64[ns]
 15  loan_status                  54231 non-null  category
 16  payment_plan                 54231 non-null  object
 17  purpose                      54231 non-null  category
 18  dti                          54231 non-null  float64
 19  delinq_2yrs                  54231 non-null  int64
 20  earliest_credit_line         54231 non-null  datetime64[ns]
 21  inq_last_6mths               54231 non-null  int64
 22  mths_since_last_delinq       23229 non-null  float64
 23  mths_since_last_record       6181 non-null   float64
 24  open_accounts                54231 non-null  int64
 25  total_accounts               54231 non-null  int64
 26  out_prncp                    54231 non-null  float64
 27  out_prncp_inv                54231 non-null  float64
 28  total_payment                54231 non-null  float64
 29  total_payment_inv            54231 non-null  float64
 30  total_rec_prncp              54231 non-null  float64
 31  total_rec_int                54231 non-null  float64
 32  total_rec_late_fee           54231 non-null  float64
 33  recoveries                   54231 non-null  float64
 34  collection_recovery_fee      54231 non-null  float64
 35  last_payment_date            54158 non-null  datetime64[ns]
 36  last_payment_amount          54231 non-null  float64
 37  next_payment_date            21623 non-null  datetime64[ns]
 38  last_credit_pull_date        54224 non-null  datetime64[ns]
 39  collections_12_mths_ex_med   54180 non-null  float64
 40  mths_since_last_major_derog  7499 non-null   float64
 41  policy_code                  54231 non-null  int64
 42  application_type             54231 non-null  object
dtypes: category(8), datetime64[ns](5), float64(20), int64(8), object(2)
memory usage: 14.9+ MB
None
Statistical Summary:

                  id     member_id   loan_amount  funded_amount  \
count   5.423100e+04  5.423100e+04  54231.000000   51224.000000
unique           NaN           NaN           NaN            NaN
top              NaN           NaN           NaN            NaN
freq             NaN           NaN           NaN            NaN
mean    7.621797e+06  8.655350e+06  13333.076100   13229.509117
min     5.552100e+04  7.069400e+04    500.000000     500.000000
25%     7.594330e+05  9.587720e+05   7000.000000    7000.000000
50%     7.084590e+06  8.709873e+06  12000.000000   12000.000000
75%     8.860616e+06  1.052714e+07  18000.000000   18000.000000
max     3.867612e+07  4.146185e+07  35000.000000   35000.000000
std     9.571362e+06  1.031281e+07   8082.196709    8019.017599

        funded_amount_inv       term      int_rate    instalment  grade  \
count        54231.000000      49459  49062.000000  54231.000000  54231
unique                NaN          2           NaN           NaN      7
top                   NaN  36 months           NaN           NaN      B
freq                  NaN      35845           NaN           NaN  16369
mean         12952.622979        NaN     13.507328    400.013953    NaN
min              0.000000        NaN      5.420000     15.670000    NaN
25%           6700.000000        NaN     10.370000    224.205000    NaN
50%          11300.000000        NaN     13.160000    347.150000    NaN
75%          18000.000000        NaN     16.200000    527.550000    NaN
max          35000.000000        NaN     26.060000   1407.010000    NaN
std           8099.473527        NaN      4.392893    238.920012    NaN

       sub_grade  ...    recoveries collection_recovery_fee  \
count      54231  ...  54231.000000            54231.000000
unique        35  ...           NaN                     NaN
top           B3  ...           NaN                     NaN
freq        3641  ...           NaN                     NaN
mean         NaN  ...     93.501288               10.859057
min          NaN  ...      0.000000                0.000000
25%          NaN  ...      0.000000                0.000000
50%          NaN  ...      0.000000                0.000000
75%          NaN  ...      0.000000                0.000000
max          NaN  ...  27750.000000             7002.190000
std          NaN  ...    630.843636              120.193950

                    last_payment_date last_payment_amount  \
count                           54158        54231.000000
unique                            NaN                 NaN
top                               NaN                 NaN
freq                              NaN                 NaN
mean    2020-08-23 00:21:38.600391680         3130.706393
min               2013-12-01 00:00:00            0.000000
25%               2019-11-01 00:00:00          289.790000
50%               2021-04-01 00:00:00          562.670000
75%               2022-01-01 00:00:00         3738.120000
max               2022-01-01 00:00:00        36115.200000
std                               NaN         5323.801675

                    next_payment_date          last_credit_pull_date  \
count                           21623                          54224
unique                            NaN                            NaN
top                               NaN                            NaN
freq                              NaN                            NaN
mean    2021-10-18 16:47:47.613189632  2021-04-15 16:16:28.964296192
min               2014-01-01 00:00:00            2013-05-01 00:00:00
25%               2022-02-01 00:00:00            2021-02-01 00:00:00
50%               2022-02-01 00:00:00            2022-01-01 00:00:00
75%               2022-02-01 00:00:00            2022-01-01 00:00:00
max               2022-02-01 00:00:00            2022-01-01 00:00:00
std                               NaN                            NaN

       collections_12_mths_ex_med mths_since_last_major_derog  policy_code  \
count                54180.000000                 7499.000000      54231.0
unique                        NaN                         NaN          NaN
top                           NaN                         NaN          NaN
freq                          NaN                         NaN          NaN
mean                     0.004208                   42.253634          1.0
min                      0.000000                    0.000000          1.0
25%                      0.000000                   26.000000          1.0
50%                      0.000000                   42.000000          1.0
75%                      0.000000                   59.000000          1.0
max                      4.000000                  146.000000          1.0
std                      0.070990                   21.052360          0.0

        application_type
count              54231
unique                 1
top           INDIVIDUAL
freq               54231
mean                 NaN
min                  NaN
25%                  NaN
50%                  NaN
75%                  NaN
max                  NaN
std                  NaN

[11 rows x 43 columns]
Median:
 <bound method DataFrame.median of              id  member_id  loan_amount  funded_amount  funded_amount_inv  \
0      38676116   41461848         8000         8000.0             8000.0
1      38656203   41440010        13200        13200.0            13200.0
2      38656154   41439961        16000        16000.0            16000.0
3      38656128   41439934        15000        15000.0            15000.0
4      38656121   41439927        15000        15000.0            15000.0
...         ...        ...          ...            ...                ...
54226     76597      76583         5000         5000.0             1775.0
54227    142608      74724         5000         5000.0             2350.0
54228    117045      70978         3500         3500.0             2225.0
54229     88854      70699         5000         5000.0              225.0
54230     72323      70694         5000         5000.0              350.0

            term  int_rate  instalment grade sub_grade  ... recoveries  \
0      36 months      7.49      248.82     A        A4  ...       0.00
1      36 months      6.99      407.52     A        A3  ...       0.00
2      36 months      7.49      497.63     A        A4  ...       0.00
3      36 months     14.31      514.93     C        C4  ...       0.00
4      36 months      6.03      456.54     A        A1  ...       0.00
...          ...       ...         ...   ...       ...  ...        ...
54226  36 months      9.01      159.03     B        B2  ...       0.00
54227  36 months     10.59      162.73     C        C2  ...       0.00
54228  36 months      7.43      108.77     A        A2  ...       0.00
54229  36 months      7.43      155.38     A        A2  ...       0.00
54230  36 months     11.54      164.98     C        C5  ...     182.27

      collection_recovery_fee  last_payment_date last_payment_amount  \
0                        0.00         2022-01-01              248.82
1                        0.00         2022-01-01              407.52
2                        0.00         2021-10-01            12850.16
3                        0.00         2021-06-01            13899.67
4                        0.00         2022-01-01              456.54
...                       ...                ...                 ...
54226                    0.00         2016-07-01              160.61
54227                    0.00         2016-10-01              490.01
54228                    0.00         2016-09-01              110.58
54229                    0.00         2014-03-01                0.00
54230                    1.84         2014-03-01              164.97

      next_payment_date last_credit_pull_date collections_12_mths_ex_med  \
0            2022-02-01            2022-01-01                        0.0
1            2022-02-01            2022-01-01                        0.0
2                   NaT            2021-10-01                        0.0
3                   NaT            2021-06-01                        0.0
4            2022-02-01            2022-01-01                        0.0
...                 ...                   ...                        ...
54226               NaT            2016-07-01                        NaN
54227               NaT            2016-09-01                        0.0
54228        2016-09-01            2013-05-01                        NaN
54229               NaT            2013-05-01                        NaN
54230        2014-12-01            2015-01-01                        NaN

      mths_since_last_major_derog  policy_code  application_type
0                             5.0            1        INDIVIDUAL
1                             NaN            1        INDIVIDUAL
2                             NaN            1        INDIVIDUAL
3                             NaN            1        INDIVIDUAL
4                             NaN            1        INDIVIDUAL
...                           ...          ...               ...
54226                         NaN            1        INDIVIDUAL
54227                         NaN            1        INDIVIDUAL
54228                         NaN            1        INDIVIDUAL
54229                         NaN            1        INDIVIDUAL
54230                         NaN            1        INDIVIDUAL

[54231 rows x 43 columns]>
Standard Deviation:
 id                             9.571362e+06
member_id                      1.031281e+07
loan_amount                    8.082197e+03
funded_amount                  8.019018e+03
funded_amount_inv              8.099474e+03
int_rate                       4.392893e+00
instalment                     2.389200e+02
annual_inc                     5.158934e+04
dti                            7.623124e+00
delinq_2yrs                    7.067062e-01
inq_last_6mths                 1.261421e+00
mths_since_last_delinq         2.192324e+01
mths_since_last_record         3.613726e+01
open_accounts                  4.797169e+00
total_accounts                 1.158703e+01
out_prncp                      5.154894e+03
out_prncp_inv                  5.153044e+03
total_payment                  8.391044e+03
total_payment_inv              8.363509e+03
total_rec_prncp                6.958124e+03
total_rec_int                  2.581657e+03
total_rec_late_fee             6.215792e+00
recoveries                     6.308436e+02
collection_recovery_fee        1.201939e+02
last_payment_amount            5.323802e+03
collections_12_mths_ex_med     7.099015e-02
mths_since_last_major_derog    2.105236e+01
policy_code                    1.110233e-16
dtype: float64
Mean:
 id                             7.621797e+06
member_id                      8.655350e+06
loan_amount                    1.333308e+04
funded_amount                  1.322951e+04
funded_amount_inv              1.295262e+04
int_rate                       1.350733e+01
instalment                     4.000140e+02
annual_inc                     7.222085e+04
dti                            1.586709e+01
delinq_2yrs                    2.417990e-01
inq_last_6mths                 8.938430e-01
mths_since_last_delinq         3.401920e+01
mths_since_last_record         7.482915e+01
open_accounts                  1.055981e+01
total_accounts                 2.416821e+01
out_prncp                      2.753964e+03
out_prncp_inv                  2.752568e+03
total_payment                  1.207921e+04
total_payment_inv              1.178895e+04
total_rec_prncp                9.407049e+03
total_rec_int                  2.577757e+03
total_rec_late_fee             9.015119e-01
recoveries                     9.350129e+01
collection_recovery_fee        1.085906e+01
last_payment_amount            3.130706e+03
collections_12_mths_ex_med     4.208195e-03
mths_since_last_major_derog    4.225363e+01
policy_code                    1.000000e+00
dtype: float64
Distinct Values Count:
 id                             54231
member_id                      54231
loan_amount                     1083
funded_amount                   1122
funded_amount_inv               5261
term                               2
int_rate                         457
instalment                     19940
grade                              7
sub_grade                         35
employment_length                 11
home_ownership                     5
annual_inc                      6132
verification_status                3
issue_date                        61
loan_status                        9
payment_plan                       2
purpose                           14
dti                             3611
delinq_2yrs                       16
earliest_credit_line             587
inq_last_6mths                    24
mths_since_last_delinq           100
mths_since_last_record           120
open_accounts                     48
total_accounts                    88
out_prncp                      17673
out_prncp_inv                  17872
total_payment                  51698
total_payment_inv              51561
total_rec_prncp                25117
total_rec_int                  49331
total_rec_late_fee              1439
recoveries                      3599
collection_recovery_fee         2944
last_payment_date                 98
last_payment_amount            38235
next_payment_date                 96
last_credit_pull_date            101
collections_12_mths_ex_med         5
mths_since_last_major_derog      113
policy_code                        1
application_type                   1
dtype: int64
DataFrame Shape:
 (54231, 43)
Null Values Count:
 id                                 0
member_id                          0
loan_amount                        0
funded_amount                   3007
funded_amount_inv                  0
term                            4772
int_rate                        5169
instalment                         0
grade                              0
sub_grade                          0
employment_length               2118
home_ownership                     0
annual_inc                         0
verification_status                0
issue_date                         0
loan_status                        0
payment_plan                       0
purpose                            0
dti                                0
delinq_2yrs                        0
earliest_credit_line               0
inq_last_6mths                     0
mths_since_last_delinq         31002
mths_since_last_record         48050
open_accounts                      0
total_accounts                     0
out_prncp                          0
out_prncp_inv                      0
total_payment                      0
total_payment_inv                  0
total_rec_prncp                    0
total_rec_int                      0
total_rec_late_fee                 0
recoveries                         0
collection_recovery_fee            0
last_payment_date                 73
last_payment_amount                0
next_payment_date              32608
last_credit_pull_date              7
collections_12_mths_ex_med        51
mths_since_last_major_derog    46732
policy_code                        0
application_type                   0
dtype: int64
Null Values Percentage:
 id                              0.000000
member_id                       0.000000
loan_amount                     0.000000
funded_amount                   5.544799
funded_amount_inv               0.000000
term                            8.799395
int_rate                        9.531449
instalment                      0.000000
grade                           0.000000
sub_grade                       0.000000
employment_length               3.905515
home_ownership                  0.000000
annual_inc                      0.000000
verification_status             0.000000
issue_date                      0.000000
loan_status                     0.000000
payment_plan                    0.000000
purpose                         0.000000
dti                             0.000000
delinq_2yrs                     0.000000
earliest_credit_line            0.000000
inq_last_6mths                  0.000000
mths_since_last_delinq         57.166565
mths_since_last_record         88.602460
open_accounts                   0.000000
total_accounts                  0.000000
out_prncp                       0.000000
out_prncp_inv                   0.000000
total_payment                   0.000000
total_payment_inv               0.000000
total_rec_prncp                 0.000000
total_rec_int                   0.000000
total_rec_late_fee              0.000000
recoveries                      0.000000
collection_recovery_fee         0.000000
last_payment_date               0.134609
last_payment_amount             0.000000
next_payment_date              60.127971
last_credit_pull_date           0.012908
collections_12_mths_ex_med      0.094042
mths_since_last_major_derog    86.172116
policy_code                     0.000000
application_type                0.000000
dtype: float64

In [10]:
plotter = Plotter(loan_data)
transformer = DataFrameTransform(loan_data)

In [11]:
null_counts = transformer.check_nulls()
print(null_counts)

                             null_count  null_percent
id                                    0      0.000000
member_id                             0      0.000000
loan_amount                           0      0.000000
funded_amount                      3007      5.544799
funded_amount_inv                     0      0.000000
term                               4772      8.799395
int_rate                           5169      9.531449
instalment                            0      0.000000
grade                                 0      0.000000
sub_grade                             0      0.000000
employment_length                  2118      3.905515
home_ownership                        0      0.000000
annual_inc                            0      0.000000
verification_status                   0      0.000000
issue_date                            0      0.000000
loan_status                           0      0.000000
payment_plan                          0      0.000000
purpose                               0      0.000000
dti                                   0      0.000000
delinq_2yrs                           0      0.000000
earliest_credit_line                  0      0.000000
inq_last_6mths                        0      0.000000
mths_since_last_delinq            31002     57.166565
mths_since_last_record            48050     88.602460
open_accounts                         0      0.000000
total_accounts                        0      0.000000
out_prncp                             0      0.000000
out_prncp_inv                         0      0.000000
total_payment                         0      0.000000
total_payment_inv                     0      0.000000
total_rec_prncp                       0      0.000000
total_rec_int                         0      0.000000
total_rec_late_fee                    0      0.000000
recoveries                            0      0.000000
collection_recovery_fee               0      0.000000
last_payment_date                    73      0.134609
last_payment_amount                   0      0.000000
next_payment_date                 32608     60.127971
last_credit_pull_date                 7      0.012908
collections_12_mths_ex_med           51      0.094042
mths_since_last_major_derog       46732     86.172116
policy_code                           0      0.000000
application_type                      0      0.000000

In [12]:
transformer.drop_columns()
null_counts_after_dropping = transformer.check_nulls()
print(null_counts_after_dropping)

                            null_count  null_percent
id                                   0      0.000000
member_id                            0      0.000000
loan_amount                          0      0.000000
funded_amount                     3007      5.544799
funded_amount_inv                    0      0.000000
term                              4772      8.799395
int_rate                          5169      9.531449
instalment                           0      0.000000
grade                                0      0.000000
sub_grade                            0      0.000000
employment_length                 2118      3.905515
home_ownership                       0      0.000000
annual_inc                           0      0.000000
verification_status                  0      0.000000
issue_date                           0      0.000000
loan_status                          0      0.000000
payment_plan                         0      0.000000
purpose                              0      0.000000
dti                                  0      0.000000
delinq_2yrs                          0      0.000000
earliest_credit_line                 0      0.000000
inq_last_6mths                       0      0.000000
open_accounts                        0      0.000000
total_accounts                       0      0.000000
out_prncp                            0      0.000000
out_prncp_inv                        0      0.000000
total_payment                        0      0.000000
total_payment_inv                    0      0.000000
total_rec_prncp                      0      0.000000
total_rec_int                        0      0.000000
total_rec_late_fee                   0      0.000000
recoveries                           0      0.000000
collection_recovery_fee              0      0.000000
last_payment_date                   73      0.134609
last_payment_amount                  0      0.000000
last_credit_pull_date                7      0.012908
collections_12_mths_ex_med          51      0.094042
policy_code                          0      0.000000
application_type                     0      0.000000

In [13]:
transformer.impute_nulls()
null_counts_after_imputation = transformer.check_nulls()
print(null_counts_after_imputation)

Imputing term with mode (36 months)
Imputing employment_length with mode (10+ years)
                            null_count  null_percent
id                                   0      0.000000
member_id                            0      0.000000
loan_amount                          0      0.000000
funded_amount                        0      0.000000
funded_amount_inv                    0      0.000000
term                                 0      0.000000
int_rate                             0      0.000000
instalment                           0      0.000000
grade                                0      0.000000
sub_grade                            0      0.000000
employment_length                    0      0.000000
home_ownership                       0      0.000000
annual_inc                           0      0.000000
verification_status                  0      0.000000
issue_date                           0      0.000000
loan_status                          0      0.000000
payment_plan                         0      0.000000
purpose                              0      0.000000
dti                                  0      0.000000
delinq_2yrs                          0      0.000000
earliest_credit_line                 0      0.000000
inq_last_6mths                       0      0.000000
open_accounts                        0      0.000000
total_accounts                       0      0.000000
out_prncp                            0      0.000000
out_prncp_inv                        0      0.000000
total_payment                        0      0.000000
total_payment_inv                    0      0.000000
total_rec_prncp                      0      0.000000
total_rec_int                        0      0.000000
total_rec_late_fee                   0      0.000000
recoveries                           0      0.000000
collection_recovery_fee              0      0.000000
last_payment_date                   73      0.134609
last_payment_amount                  0      0.000000
last_credit_pull_date                7      0.012908
collections_12_mths_ex_med           0      0.000000
policy_code                          0      0.000000
application_type                     0      0.000000

In [14]:
skewed_columns = transformer.calculate_skewness(threshold = 1)

In [15]:
best_transformations = transformer.transform_skewed_columns(skewed_columns)
print("Best transformations for each column:")
print(best_transformations)

Could not apply boxcox transformation on id: 'numpy.ndarray' object has no attribute 'skew'
Could not apply boxcox transformation on member_id: 'numpy.ndarray' object has no attribute 'skew'
Could not apply boxcox transformation on annual_inc: 'numpy.ndarray' object has no attribute 'skew'
Could not apply boxcox transformation on delinq_2yrs: 'numpy.ndarray' object has no attribute 'skew'
Could not apply boxcox transformation on inq_last_6mths: 'numpy.ndarray' object has no attribute 'skew'
Could not apply boxcox transformation on open_accounts: 'numpy.ndarray' object has no attribute 'skew'
Could not apply boxcox transformation on out_prncp: 'numpy.ndarray' object has no attribute 'skew'
Could not apply boxcox transformation on out_prncp_inv: 'numpy.ndarray' object has no attribute 'skew'
Could not apply boxcox transformation on total_payment: 'numpy.ndarray' object has no attribute 'skew'
Could not apply boxcox transformation on total_payment_inv: 'numpy.ndarray' object has no attribute 'skew'
Could not apply boxcox transformation on total_rec_prncp: 'numpy.ndarray' object has no attribute 'skew'
Could not apply boxcox transformation on total_rec_int: 'numpy.ndarray' object has no attribute 'skew'
Could not apply boxcox transformation on total_rec_late_fee: 'numpy.ndarray' object has no attribute 'skew'
Could not apply boxcox transformation on recoveries: 'numpy.ndarray' object has no attribute 'skew'
Could not apply boxcox transformation on collection_recovery_fee: 'numpy.ndarray' object has no attribute 'skew'
Could not apply boxcox transformation on last_payment_amount: 'numpy.ndarray' object has no attribute 'skew'
Could not apply boxcox transformation on collections_12_mths_ex_med: 'numpy.ndarray' object has no attribute 'skew'
Best transformations for each column:
{'id': 'log', 'member_id': 'log', 'annual_inc': 'log', 'delinq_2yrs': 'sqrt', 'inq_last_6mths': 'sqrt', 'open_accounts': 'log', 'out_prncp': 'log', 'out_prncp_inv': 'log', 'total_payment': 'log', 'total_payment_inv': 'log', 'total_rec_prncp': 'log', 'total_rec_int': 'log', 'total_rec_late_fee': 'log', 'recoveries': 'log', 'collection_recovery_fee': 'log', 'last_payment_amount': 'log', 'collections_12_mths_ex_med': 'sqrt'}

In [16]:
for column, method in best_transformations.items():
    transformer.df[column] = transformer._transform_column(transformer.df[column], method)

# Visualize skewness after transformation
for column in best_transformations:
    plotter.plot_skewness(column)

In [17]:
# Save transformed DataFrame
transformed_df = transformer.df
transformed_df.to_csv('transformed_data.csv', index=False)

In [18]:
plotter = Plotter(loan_data)
transformer = DataFrameTransform(loan_data)

In [19]:
# Decide whether to remove or transform outliers based on skewness and summary statistics
df_cleaned = transformer.decide_outlier_handling(skewed_columns)

# Re-initialize classes with cleaned DataFrame
plotter_cleaned = Plotter(df_cleaned)

Transforming outliers for column collections_12_mths_ex_med

In [20]:
# Visualize outliers after removal or transformation
# plotter_cleaned.plot_outliers(skewed_columns)

In [21]:
df_cleaned.to_csv('cleaned_dataset.csv', index=False)

In [22]:
plotter.plot_correlation_matrix()

ValueError: could not convert string to float: '36 months'